.box{
    border: 2px dotted red;
    width: 800px;
}

/* Relative Position */
/* .two {
    position: relative;
    left: 60px;
    top: -400px;
} */

/* .two{
    position: absolute;
    top: 100px;
} */

/* .two{
    position: sticky;
    top: 0px;
} */
 /* .two{
    position: fixed;
 } */


 /* ///////////////////////Learning Z-index /////////////////////////////////////////// */
 .z{
    position: relative;
 }

 .one1{
    z-index: 10;
 }
 .two2{
    top: -180px;
    z-index: 2;
 }
 .three3{
    top: -400px;
 }